<div class="row">
  <div [ngClass]="showFiltros ? 'col-xl-4' : 'col-xl-3' "  class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12" *ngFor="let producto of productos">    
    <one-producto [producto]="producto"></one-producto>
  </div>
</div>
