  <!-- Content -->
  <div class="container padding-top-20"><br>
    <h2>CARRITO</h2>

    <section *ngIf=" ( getCantidad() == 0 ) && ( !enviado ) "  class="padding-top-100 padding-bottom-100 pages-in chart-page">
      <div class="container text-center">
        <h2>El carrito de compras se encuentra vacío.</h2>
        <p>Agregue productos para poder final la compra.</p>
        <a class="btn" href="/repuestos"> Repuestos</a>
      </div>        
    </section>


    <section *ngIf=" enviado "  class="padding-top-100 padding-bottom-100 pages-in chart-page">
      <div class="container text-center">
        <h3>Pedido Enviado.</h3>
        <p>En un breve tiempo uno de nuestros asistentes se pondrá en contacto con ud. para coordinar la forma de pago y la recepcíon del producto.</p>
        <a class="btn margin-top-100 margin-bottom-100" href="#."> Inicio</a>
      </div>        
    </section>

    <!--======= PAGES INNER =========-->
    <section *ngIf=" (getCantidad() > 0 )  && ( !enviado )"  class="padding-top-20 pages-in chart-page">
      <div class="container">

        <!-- Payments Steps -->
        <div class="shopping-cart text-center">
          <div class="cart-head">
            <ul class="row">
              <!-- PRODUCTS -->
              <li class="col-sm-2 text-left">
                <h6>PRODUCTO</h6>
              </li>
              <!-- NAME -->
              <li class="col-sm-4 text-left">
                <h6>NOMBRE</h6>
              </li>
              <!-- PRICE -->
              <li class="col-sm-2">
                <h6>PRECIO</h6>
              </li>
              <!-- QTY -->
              <li class="col-sm-1">
                <h6>CANTIDAD</h6>
              </li>

              <!-- TOTAL PRICE -->
              <li class="col-sm-2">
                <h6>TOTAL</h6>
              </li>
              <li class="col-sm-1"> </li>
            </ul>
          </div>

          <!-- Cart Details -->
          <ul class="row cart-details" *ngFor="let producto of products;let i = index">
            <li class="col-sm-2 col-2">            
              <div class="position-center-center">
                   <a href="{{producto.info.image_url}}" class="item-img">
                     <img src="{{producto.info.image_url}}" width="70" height="90" alt=""> 
                    </a> 
                  </div>
              </li>
              <li class="col-sm-4  col-10"> 
                  <div class="position-center-center">
                    <h5>{{producto.info.replacement_name}}</h5>
                    <p>{{producto.info.replacement_description}}</p>
                  </div>
              </li>
              <li class="col-sm-2 col-3">
                <div class="position-center-center"> <span class="price"><small>$</small>{{producto.info.replacement_price}}</span> </div>
              </li>
              <li class="col-sm-1 col-3">
                <div class="position-center-center">
                    <select [(ngModel)]="products[i].amount" (change)="modifyProd(i)">
                      <option *ngFor="let c of [1,2,3,4,5,6,7,8,9,10]" [ngValue]="c">{{c}}</option>
                    </select>
                  </div>
              </li>
            <li class="col-sm-2 col-3">
              <div class="position-center-center"> <span class="price"><small>$</small>{{producto.total}}</span> </div>
            </li>
            <li class="col-sm-1 col-3">
              <div class="position-center-center"> <a (click)="removeProd(i)" href=""><i class="icon-close"></i></a> </div>
            </li>
          </ul>
          <!-- Total de compra-->
          <div class="row">
            <div class="col-md-12 text-mutted text-right">
              <!-- SUB TOTAL -->
              SUBTOTAL (SIN IVA) <span> $ {{totalSinIva}}</span>
            </div>
            <div class="col-md-12 text-right total">
                  <!-- SUB TOTAL -->
                  TOTAL <span> $ {{ total }}</span>
            </div>
          </div>



        </div>
      </div> <!-- Cierra div container-->
    </section>

    <section *ngIf="getCantidad() > 0 && ( !enviado )" class="chart-page  padding-bottom-20">
      <form #signupForm="ngForm" ngNativeValidate (ngSubmit)="enviarpedido(signupForm)">
        <div class="container">
          <!-- Payments Steps -->
          <div class="shopping-cart">

            <div class="cart-ship-info">
              <div class="">
                <!-- ESTIMATE SHIPPING & TAX -->
                <div class="">
                  <h6>DATOS DEL COMPRADOR</h6>
                    <ul class="row">
                      <!-- Name -->
                      <li class="col-md-6">
                        <label> *NOMBRE Y APELLIDO
                          <input ngModel type="text" name="carrito_nombre" id="carrito_nombre" value="" placeholder="" ngModel required>
                        </label>
                      </li>
                      <li class="col-md-6">
                        <!-- ADDRESS -->
                        <label>*DIRECCION (Calle y ciudad)
                          <input ngModel type="text" name="carrito_direccion" id="carrito_direccion" value="" placeholder="" ngModel required>
                        </label>
                      </li>

                      <!-- PHONE -->
                      <li class="col-md-6">
                        <label> *TELEFONO
                          <input ngModel type="text" name="carrito_telefono" id="carrito_telefono" value="" placeholder="" ngModel required>
                        </label>
                      </li>

                      <!-- EMAIL ADDRESS -->
                      <li class="col-md-6">
                        <label> *DIRECCION DE EMAIL
                          <input ngModel type="text" name="carrito_email" id="carrito_email" value="" placeholder="" ngModel required>
                        </label>
                      </li>
                    </ul>
                </div>
              </div>
            </div>

            <!-- SHOPPING INFORMATION -->
            <div class="cart-ship-info">
              <div class="">
                <!-- ESTIMATE SHIPPING & TAX -->
                <div class="">
                  <h6>DETALLES DE FACTURACION</h6>
                    <ul class="row">
                      <!-- Name -->
                      <li class="col-md-6">
                        <label> *RAZON SOCIAL
                          <input ngModel type="text" name="carrito_razon" id="carrito_razon" value="" placeholder="" ngModel required>
                        </label>
                      </li>

                      <li class="col-md-6">
                        <!-- COMPANY NAME -->
                        <label>*CUIT
                          <input ngModel type="text" name="carrito_cuit" id="carrito_cuit" value="" placeholder="" ngModel required>
                        </label>
                      </li>
                    </ul>
                </div>
              </div>
            </div>

            <div class="cart-ship-info">
              <!-- SUB TOTAL -->
              <div class="col-12">
                <h6>FORMA DE PAGO</h6>
                <div class="order-place">
                  <div class="pay-meth">
                    <ul>
                      <li>
                        <div class="radio">
                          <input ngModel type="radio" name="carrito_pago" id="radio1" value="Transferencia Bancaria" checked>
                          <label for="radio1"> TRANSFERENCIA BANCARIA </label>
                        </div>
                        <p>Se le facilitarán los datos bancarios para la transferencia.</p>
                      </li>
                      <li>
                        <div class="radio">
                          <input type="radio" ngModel name="carrito_pago" id="radio2" value="Efectivo o tarjeta en agencia ">
                          <label for="radio2"> EFECTIVO O TARJETA EN AGENCIA</label>
                        </div>
                        <p>Se acordará la fecha de pago.</p>
                      </li>
                      <li>
                        <div class="radio">
                          <input type="radio" name="carrito_pago" id="radio3" ngModel value="Cheque">
                          <label for="radio3"> CHEQUE EN AGENCIA </label>
                        </div>
                        <p>Se le solicitará información de los mismos.</p>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>

            <div class="cart-ship-info">
              <!-- SUB TOTAL -->
              <div class="col-12">
                <h6>RECEPCIÓN DEL PRODUCTO</h6>
                <div class="order-place">
                  <div class="pay-meth">
                    <ul>
                      <li>
                        <div class="radio">
                          <input type="radio" name="carrito_envio" id="radio4" ngModel value="Envio a domicilio" >
                          <label for="radio4">ENVIO A DOMICILIO</label>
                        </div>
                        <p>Se le solicitará información adicional sobre la recepción del pedido.</p>
                      </li>
                      <li>
                        <div class="radio">
                          <input type="radio" name="carrito_envio" id="radio5" ngModel value="Retiro en sucursal" checked>
                          <label for="radio5">RETIRO EN SUCURSAL</label>
                        </div>
                        <p>Podrá elegir entre cualquiera de nuestras sucursales.</p>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="container padding-top-50 padding-bottom-50">
          <div class="text-right">
            <button type="submit" class="btn btn-primary">Finalizar</button>
          </div>
        </div>
      </form>
    </section>




  </div>
