<div class="container-fluid"><br>
  <p>CUBIERTAS</p>


  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" *ngIf="showFiltros">
        <p class="showhidefilter" *ngIf="showFiltros" (click)="showFiltros = !showFiltros" >Ocultar Filtros</p>
        <p class="showhidefilter" *ngIf="!showFiltros" (click)="showFiltros = !showFiltros">Mostrar Filtros</p>
        <filtro-repuestos *ngIf="showFiltros" (buscar)="obtenerProductos($event)"></filtro-repuestos>
      </div>
      <div [ngClass]="showFiltros ? 'col-xl-9 col-lg-9 col-md-9 col-sm-9 col-12' : 'col-12'">
        <filtro-elegidos  (remove)="removeFilter($event)"  ></filtro-elegidos>

        <div class="papular-block" *ngIf="productos.length > 0; else more">
          <list-productos [showFiltros]="showFiltros" [productos]="productos"></list-productos>
        </div>

        <ng-template #more>
          <div class="text-center">
            <h2 >¿No encontras el producto que estas buscando?</h2>
            <h4 >Seguro lo tenemos</h4>
            <p >Dejano un mensaje en el siguiente link con el producto que necesitas y nos comunicaremos cuanto antes.</p>
            <p ><a href="/contacto" class="btn btn-outline">Contacto</a></p>
          </div>
        </ng-template>

      </div>

  </div>

</div>


<div #moreElementsDiv class="col-12 moreelements text-right">
  <div class="container-fluid">
  <button *ngIf="getMore"  (click)="loadmore()" class="btn-load-more">Siguiente ></button>
  </div>
</div>


