
.buscador-repuestos{

	background-color: #3374db;
	width: 100%;
	padding: 10px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.buscador-repuestos input{

	width: 100%;
    padding: 14px;
    max-width: 1320px;
    display: flex;
    align-self: center;
    font-size: 16px;
    font-weight: 100;
    border-radius: 5px;
    border: 0;

}

.showhidefilter{
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.item-name p{
    font-size: 18px;
}

.sub-bnr{background-position: bottom;}


.btn-load-more{
  background-color:#000;
  color: #FFF;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 30px;
  border: 0px;
}

.moreelements{
  background-color: #EFEFEF;
}
