header {
    background-color:#FFFFFF;
    position: sticky;

    box-shadow: 0 0.063rem 0.313rem 0 rgb(70 70 70 / 15%), 0 0.125rem 0.125rem 0 rgb(70 70 70 / 15%), 0 0.188rem 0.125rem -0.125rem rgb(70 70 70 / 15%);
}


.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*border: 5px red solid;*/
    padding-top: 10px;
}

.top-nav div{
    /*border: 1px blue solid;*/
    margin: 0px;
    padding: 0px;
}


.nav-header-mobile{
  width: 100%;
  display: flex;
  justify-content: space-around;
  li{ width: 50%; margin: 0 20px;}
  li:first-child{ text-align: left;}
  li:last-child{ text-align: right;}

}

.logo-mobile{
  display: none;
}

.nav-logo{
    width: 16vw;
    text-align: left;
    overflow: hidden;
}

.nav-buscador{
    text-align: center;
    width: 70vw;
}

.nav-botones{
    text-align: center;
    width: 100%;
}

.nav-item a{
  font-weight: bold;
  font-size: 16px;
}

.input-search{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 16px;
    padding: 7px 60px 9px 15px;
    border-radius: 5px 0px 0px 5px;
    background-color: #fff;
    border: 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    height: 39px;
    width: 90%;
}

.btn-search{
    background-color: #fff;
    border: 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    height: 39px;
    padding: 0px 10px 0px 10px;
    border-radius: 0px 5px 5px 0px;
}

.mybadge{
    display: inline-block;
    color: white;
    background-color: #333;
    width: 20px;
    font-size: 12px;
    border-radius: 50%;
    margin-left: 2px;

}


.navbar{
    text-align: center !important;
    padding: 14px 0;
}


.navbar-expand-md {
    justify-content: flex-end !important;
}

.navbar .nav-options{
    /*margin: auto;*/
}



.dropdown-menu{
    background-color: #333;
    padding: 0px;
    transition: 0.5s ease-in-out;
}

.dropdown-item{
        color: #ffffff;
        display: block;
        border-bottom: 1px solid #999;
        padding: 4px 10px 4px 10px;
        margin: 0px;

}

.dropdown-item:hover{
    color: #333;
    background-color: #fff;
}

.nav-options{
  overflow: hidden;
}

@media (max-width: 770px) {
  .nav-logo {
    display: none;
  }
  .logo-mobile{
    display: block;
  }
}
