<header>

  <div class="container-fluid">


    <div class="top-nav">

      <!--<div class="nav-buscador">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
          <input [(ngModel)]="textoDeInput" name="search" class="input-search" type="search" placeholder="Buscar producto o número de pieza" aria-label="Search">
          <button class="btn-search" type="submit"> <i class=" icon-magnifier"></i></button>
        </form>
      </div>-->

      <div class="nav-botones">


        <ul class="nav-header-mobile">
          <!--<li class="nav-carrito">
            <a href="/carrito" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
              <i class="icon-basket-loaded" *ngIf="getCantidad() > 0"></i>
              <i class="icon-basket" *ngIf="getCantidad() == 0"></i>
              <span *ngIf="getCantidad() > 0"  class="mybadge">{{ getCantidad() }}</span>
            </a>
          </li>-->
          <li>
            <a routerLink="">
              <img src="./assets/img/logo0.png" alt="Logo" class="logo-mobile" >
            </a>
          </li>
          <li class="nav-toggle">
            <button class="navbar-toggler" (click)="clickEventMenu()" type="button" data-toggle="collapse" data-target="#nav-open-btn" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
          </li>

        </ul>
      </div>

    </div>

    <nav class="navbar navbar-expand-md ">
      <div class="nav-logo">
        <a routerLink="">
          <img src="./assets/img/logo0.png" alt="Logo" class="logo-full">
          <img src="./assets/img/logo0.png" alt="Logo" class="logo-responsive" >
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-expand-md" [ngClass]="statusMenu ? 'show' : ''" id="nav-open-btn">
        <ul class="nav nav-options">
          <li class="nav-item"> <a routerLink="">Inicio</a> </li>
          <li class="nav-item"> <a routerLink="/comprar/camiones">Comprá tu camión</a> </li>
          <li class="nav-item"> <a routerLink="/vender">Vendé tu camión</a> </li>
          <li class="nav-item"> <a routerLink="/comprar/remolques">Remolques</a> </li>
          <li class="nav-item"> <a routerLink="/cubiertas">Cubiertas</a> </li>
          <li class="nav-item"> <a routerLink="/comprar/plus">Decker Plus</a> </li>
          <!--<li class="nav-item"> <a routerLink="/financiamiento">Financiá tu camión</a></li>
          <li class="nav-item"> <a routerLink="/repuestos">Repuestos</a> </li>
          <li class="nav-item"> <a routerLink="/nosotros">Nosotros</a> </li>-->

          <li class="nav-item"> <a routerLink="/contacto">Contacto</a> </li>

          <!--
          <li class="nav-item">
            <a routerLink="/carrito">
              <i class="icon-basket-loaded" *ngIf="getCantidad() > 0 "></i>
              <i class="icon-basket" *ngIf="getCantidad() == 0"></i>
              Mi Cuenta
            </a>
          </li>

          <li class="nav-item"> <a routerLink="/cotizador">App DeckerCamiones</a></li>
            <li class="nav-item">
              <a class="nav-link"  (click)="clickEventCategorias()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Repuestos <i class="icon-arrow-down"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown"  [ngClass]="statusCategoria ? 'show' : '' " >
                <a *ngFor="let item of categorias" routerLink="/categoria/{{item.type_id}}"  class="dropdown-item" href="#">{{item.type_name}}</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="clickEventNosotros()" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nosotros <i class="icon-arrow-down"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                <a routerLink="/sedes/"  class="dropdown-item" href="#">Sedes</a>
                <a routerLink="/historia/"  class="dropdown-item" href="#">Historia</a>
                <a routerLink="/contacto/"  class="dropdown-item" href="#">Contacto</a>
              </div>
            </li>

            <li class="nav-item carrito-responsive">
              <a routerLink="/carrito">
                <i class="icon-basket-loaded" *ngIf="getCantidad() > 0 "></i>
                <i class="icon-basket" *ngIf="getCantidad() == 0"></i>
                Ver carrito ({{ getCantidad() }})
              </a>
            </li>-->
          </ul>
        </div>
      </nav>

    </div>


    </header>



    <app-buscador></app-buscador>
