
<app-newsletter></app-newsletter>

<footer>
  <div class="container">
    <div class="row">


    <div class="col-md-4  col-sm-12  col-12  order-1 text-left">
      <div class="text-center">
        <img class="margin-bottom-30" src="./assets/img/logo1.png" width="100" alt="" >
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Pellen tesque lacinia dolor in lacus u
        llamcorper laoreet.</p>
    </div>

    <div class="col-md-2 order-2"> </div>

    <div class="col-md-2 col-sm-4 col-6 text-left  order-3">
      <h3>EXPLORAR</h3>
        <ul class="link">
          <li><a routerLink="/" > Inicio</a></li>
          <li><a routerLink="/contacto" > Contacto</a></li>
          <li><a routerLink="/carrito" > Carrito</a></li>
          <li><a routerLink="#buscador" > Buscar</a></li>
        </ul>
    </div>

    <div class="col-md-2 col-sm-4  col-6 text-left  order-4">
      <h3>INFO</h3>
      <ul class="link">
        <li><a routerLink="/comprar" > Usados</a></li>
        <li><a routerLink="/repuestos" > Repuestos</a></li>
        <li><a routerLink="/nosotros" > Servicios</a></li>
        <li><a routerLink="/nosotros" > Seguros</a></li>
      </ul>
    </div>

    <div class="col-md-2 col-sm-4 text-left  order-5">
      <h3>CONTACTO</h3>
      <ul class="link">
        <li><a href="#">RN3 Km 696</a></li>
        <li><a href="#">B8000 Bahía Blanca</a></li>
        <li><a href="#">Buenos Aires</a></li>
        <li><a href="#">Argentina</a></li>
      </ul>
    </div>
  </div>
    <!-- Rights -->


  </div>


    <!-- About -->
    <section class="small-about">
      <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-12 text-left">
              <ul class="social_icons">
                <li><a href="#">Decker Camiones</a></li>
                <li> <a href="#">Privacidad</a></li>
                <li> <a href="#">Terminos de uso</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-12 col-12 text-right">
              <ul class="social_icons">
                <li><a href="#."><i class="icon-social-facebook"></i></a></li>
                <li><a href="#."><i class="icon-social-twitter"></i></a></li>
                <li><a href="#."><i class="icon-social-instagram"></i></a></li>
                <li><a href="#."><i class="icon-social-youtube"></i></a></li>
              </ul>
            </div>
          </div>
      </div>
    </section>
</footer>
<div class="rights">
  <p>©  2022  Mercado Camiones -  All right reserved. </p>
  <div class="scroll"> <span (click)="totop()" class="go-up"><i class="fas fa-angle-up"></i></span> </div>
</div>
