.sub-bnr{
background-image: url('/assets/img/bg1.png');
background-position: bottom;
}


.text-area{
    width: 100%;
}

.cart-head{
    padding-bottom: 0;
    margin-bottom: 0;
}

.cart-details{
    padding-bottom: 0;
    margin-bottom: 0;
}