

  <div class="container-fluid padding-top-50 padding-bottom-50">
    <div class="contact-form">
      <h5>Complete el formulario</h5>
      <div class="row">
        <div class="col-md-8">

          <!--======= Success Msg =========-->
          <div *ngIf=" enviado " class="padding-top-50 padding-bottom-50" >
            <div id="contact_message" class="success-msg"> 
              <i class="fa fa-paper-plane-o"></i>Gracias por su interes. Su mensaje ha sido enviado correctamente, en instantes un operador se pondra en contacto.
            </div>

            <a class="btn margin-top-100 margin-bottom-50" href="/"> VOLVER AL INICIO</a>

          </div>
          <!-- ============== UNIDAD ==================-->

          <div *ngIf=" unidad && !enviado " class="col-md-12">
            <section  class=" padding-bottom-20 pages-in chart-page">
              <div class="container">
        
                <!-- Payments Steps -->
                <div class="shopping-cart text-center">
                  <div class="cart-head">
                    <ul class="row">
                      <!-- PRODUCTS -->
                      <li class="col-sm-3 text-center">
                        <h6>CAMION</h6>
                      </li>
                      <!-- NAME -->
                      <li class="col-sm-4 text-center">
                        <h6>MODELO</h6>
                      </li>
                      <!-- PRICE -->
                      <li class="col-sm-3">
                        <h6>MARCA</h6>
                      </li>
                      <!-- QTY -->
                      <li class="col-sm-2">
                        <h6>AÑO</h6>
                      </li>
                    </ul>
                  </div>
        
                  <!-- Cart Details -->
                  <ul class="row cart-details">
                    <li class="col-sm-3 col-3">            
                      <div class="position-center-center">
                           <a href="{{usado.vehicle_thumbnail_url}}" class="item-img">
                             <img src="{{usado.vehicle_thumbnail_url}}" width="70" height="90" alt=""> 
                            </a> 
                          </div>
                      </li>
                      <li class="col-sm-4  col-10"> 
                          <div class="position-center-center">
                            <p>{{usado.vehicle_model}}</p>
                          </div>
                      </li>
                      <li class="col-sm-3 col-3">
                        <div class="position-center-center">
                          <p>{{usado.brand_name}}</p> 
                        </div>
                      </li>
                      <li class="col-sm-2 col-3">
                        <div class="position-center-center">
                          <p>{{usado.vehicle_year}}</p> 
                        </div>
                      </li>
                  </ul>        
                </div>
              </div> <!-- Cierra div container-->
            </section>
          </div>


          <!--======= FORM  =========-->
          <form #signupForm="ngForm" ngNativeValidate (ngSubmit)="contacto(signupForm)">
            <div  *ngIf=" ! enviado " >
              <ul class="row">
                <li class="col-sm-6">
                  <label>Nombre Completo
                    <input type="hidden" ngModel name="contact_type" id="contact_type"  value="Contacto">
                    <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_name' type="text" class="form-control" ngModel required name="contact_name" id="contact_name" placeholder="">
                    <input *ngIf="!infoClient" type="text" class="form-control" ngModel required name="contact_name" id="contact_name" placeholder="">
                  </label>
                </li>
                <li class="col-sm-6">
                  <label>Email
                    <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_email' type="text" class="form-control" ngModel name="contact_email" id="contact_email" placeholder="">
                    <input *ngIf="!infoClient" type="text" class="form-control" ngModel name="contact_email" id="contact_email" placeholder="">
                  </label>
                </li>
                <li class="col-sm-6">
                  <label>Teléfono
                    <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_phone' type="text" class="form-control" ngModel required name="contact_phone" id="contact_phone" placeholder="">
                    <input *ngIf="!infoClient" type="text" class="form-control" ngModel required name="contact_phone" id="contact_phone" placeholder="">
                  </label>
                </li>
                <li class="col-sm-6">
                  <label>Ciudad
                    <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_city' type="text" class="form-control" ngModel name="contact_city" id="contact_city" placeholder="">
                    <input *ngIf="!infoClient" type="text" class="form-control" ngModel name="contact_city" id="contact_city" placeholder="">
                  </label>
                </li>
                <li class="col-sm-12">
                  <label>Mensaje
                    <textarea class="form-control" name="contact_msj" [(ngModel)]='msj' required id="contact_msj" rows="5" placeholder=""></textarea>
                  </label>
                </li>
                <li class="col-sm-12">
                  <button type="submit" value="Enviar Email" class="btn" id="btn_submit">ENVIAR</button>
                </li>
              </ul>
            </div>
          </form>
        </div>

        <!--======= ADDRESS INFO  =========-->
        <div class="col-md-4">
          <div class="contact-info">
            <h6>NUESTRA DIRECCIÓN</h6>
            <ul>
              <li> <i class="icon-map-pin"></i> Camino Parque Sesquicentenario<br> RN3 Km 696<br>
                B8000 Bahía Blanca, <br>Buenos Aires - Argentina</li>
              <li> <i class="icon-call-end"></i> 0291 454-7043</li>
              <li> <i class="icon-envelope"></i> <a href="mailto:info@mercadocamiones.com.ar" target="_top">info@mercadocamiones.com.ar</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
