<div class="container-fluid"><br>
    <h1>DECKER</h1>
    <h3>UNA FAMILIA DEDICADA AL SERVICIO DEL TRANSPORTE</h3>
    <div class="row">
        <div class="col-6">
            <p>ROBERTO DECKER, UN TRABAJADOR INCANSABLE</p>
            <p>Roberto Decker fue una de esas personas que se puede decir que nació trabajando. Cuando tenía 8 años empezó en una fábrica de baterías. Luego junto a su hermano Rubén y su papá hicieron un equipo al que ningún camionero superaba en cargar y descargar camiones, ellos con un camioncito viejo entraban a los campos llenos de barro a los que nadie se animaba a entrar por miedo a quedarse encajado… pero el trío Decker allí estaba..</p>
            <p>Consiguieron cambiar su camioncito viejo por el famoso amuleto de Roberto… el guerrero que todavía conservamos. Se fue en búsqueda de nuevos horizontes, pasó por Bahía Blanca, llegó a La Pampa hasta que volvió a Necochea por el año 1968 con el dinero para comprar el terreno y hacer un pequeño galpón para abrir la tan ansiada gomería en la entrada a la ciudad.</p>
        </div>
        <div class="col-6">
            <img src="https://decker.ar/wp-content/uploads/2015/12/Composicion.png" alt="" width="100%">
        </div>
        <div class="col-12">
            <h2>DESDE EL VIEJO GUERRERO A DECKER CAMIONES</h2>
            <p>Roberto fue una de esas personas que se puede decir que nacio trabajando. Cuando tenia 8 años empezó a trabajar en una fábrica de baterías. “Baterias Corbaz” en Necochea. Estuvo allí hasta su adolescencia que junto a su hermano Rubén y su papa hicieron un equipo al que ningún camionero superaba en cargar y descargar camiones, ellos con un camioncito viejo entraba a los campos llenos de barro a los que nadie se animaba a entrar por miedo a quedarse encajado… pero el trio Decker allí estaba, fue así que los propietarios los contrataban.</p>
            <p>
                Consiguieron cambiar su camioncito viejo por el famoso amuleto de Roberto… el guerrero que todavía conservamos y que es parte de nuestra familia, el que no se vende a ningún precio. Se fue en búsqueda de nuevos horizontes, pasó por Bahía Blanca y llegó a La Pampa donde se quedó tres años hasta que juntó el dinero suficiente para poder cumplir su sueño y el de su hermano… Tener su negocio propio.
            </p>
            <p>
                Volvió a Necochea por el año 1968 con el dinero para comprar el terreno y hacer un pequeño galpón para abrir la tan ansiada gomería en la entrada a la ciudad. Era famosa porque estaba abierta las 24 hs. Todos los dueños de los campos a los que ellos les habían trabajado hacía un par de años fueron sus clientes, les compraban las gomas nuevas, arreglaban las de los tractores y estaban llenos de trabajo, hacían recapados, vulcanizados y hasta inventaron una correo para una maquina transportadora de piedra para una cantera de la ciudad de Batán. Trabajaban en familia y le daban trabajo a la gente del barrio.</p>
        </div>
    </div>
</div>