<filtro-select [datos]="categorias" [label]="'Categorias'" [type]="'type'" (filtrar)="addItem($event)" ></filtro-select>
<filtro-select [datos]="marcas" [label]="'Marcas'" [type]="'brand'" (filtrar)="addItem($event)" ></filtro-select>
