


<div class="item" routerLink="/producto/{{producto.replacement_id}}">
  <div class="img">
    <img src="{{ producto.replacement_thumbnail_url }}" alt="">
  </div>


  <div class="descipcion">
     <h2>{{ producto.replacement_name}}</h2>
     <p>
        <span>{{producto.replacement_state}}</span>
        <span *ngIf=" producto.replacement_state"> - </span>
        <span *ngIf="producto.brand_name">{{producto.brand_name}}</span>
        <span *ngIf=" (producto.type_name) || (producto.replacement_state &&  producto.type_name)  "> - </span>
        <span>{{ producto.type_name}}</span>
    </p>
  </div>
  <div class="price">

    ${{getOldPrice()}}

   </div>

</div>


