
<ng-container *ngIf="datos.length > 1" >

<h3 (click)="visible = !visible">
  <span>{{label}}</span>

  <div class="icon" *ngIf="!visible" >
    <i class="fas fa-chevron-down"></i>
  </div>
  <div class="icon" *ngIf="visible" >
    <i class="fas fa-chevron-up"></i>
  </div>


</h3>
<ul *ngIf="visible" [@slideInOut]>
    <li class="option" *ngFor="let dato of datos" (click)="select(dato)" [ngClass]="{ active: isSelected(dato)}" >
        {{dato.label}}
    </li>
</ul>

</ng-container>
