
h3{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0rem;
  font-size: 1rem;
  background-color: #FFF ;
  font-weight: 400;
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px;
  border: none;
  width: 100%;
  text-align: left;
  overflow-wrap: break-word;
  line-height: 1.25;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;

  .icon svg{
    color: #f3840d;
    fill: #f3840d;
  }
}

.option{
    background-color: white;
    border: 1px solid #333;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 0 5px 5px 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 100;

}


.option:hover{
  background-color: #F5F5F5;
}

.active{
    background-color: blue;
    color: white;
}
