<header-breadcump 
titulo='Resultados para: "{{stringParam}}"' 
descripcion="Podes buscar por número de pieza o nombre" 
bg="assets/img/bg1.png">
</header-breadcump>

<section class="shop-page padding-top-100 padding-bottom-100">
  <div class="container">
      <div class="papular-block" #allElements>
        
          <list-productos [productos]="productos"></list-productos>

      </div>


      <div *ngIf="loading" class="text-center"> cargando... </div>


      <div #moreElementsDiv class="moreelements text-center">
        <button *ngIf="getMore"  (click)="loadmore()" class="btn">Cargas más</button>
      </div>
  </div>

  <div *ngIf="!getMore && !loading"  class="row">
    <div class="col-md-12 text-center">
      <h2 >¿No encontras el producto que estas buscando?</h2>
      <h4 >Seguro lo tenemos</h4>
      <p >Dejano un mensaje en el siguiente link con el producto que necesitas y nos comunicaremos cuanto antes.</p>
      <p ><a href="/contacto" class="btn btn-outline">Contacto</a></p>
    </div>
  </div>

</section>