    <!-- Popular Products -->
    <section class="padding-top-50 padding-bottom-150">
        <div class="container">

          <!-- Main Heading -->
          <div class="heading text-center">
            <h4>Productos destacados</h4>
            <span>¡Encontrá precios increíbles cada día!</span> </div>

          <!-- Popular Item Slide -->
          <div class="papular-block block-slide">
            <div class="row">

                <div class="col-md-3 col-sm-6 col-6" *ngFor="let producto of productos">
                  <one-producto [producto]="producto"></one-producto>
                </div>


            </div>




          </div>
        </div>
      </section>
