<header-breadcump 
titulo='Ofertas' 
descripcion="Encontrá aquí todas las ofertas de este mes." 
bg="assets/img/bg1.png">
</header-breadcump>



<section class="shop-page padding-top-50 padding-bottom-50">
  <div class="container">

        <div class="heading text-center">
          <span>Descubrí todos los meses las ofertas, promociones y descuentos especiales que tenemos para vos. Comprá online y aprovechá los beneficios.</span> 
        </div>

      <div class="papular-block row">
        <div class="col-6 col-sm-6 col-md-3 " *ngFor="let oferta of ofertas">
            <one-oferta [oferta]="oferta"></one-oferta>
        </div>
      </div>

  </div>
    </section>

