<div class="item">
    <a routerLink="/categoria/{{categoria.type_id}}">
        <img src="{{categoria.type_image}}" class="item-img" alt="">
    </a>

    <div class="price">
        <a routerLink="/categoria/{{categoria.type_id}}">
        {{categoria.type_name}}
        </a>
    </div>
</div>