.buscador-container{
    width: 80vw;
}
.input-search{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 16px;
    padding: 7px 60px 9px 15px;
    border-radius: 5px 0px 0px 5px;

    background-color: #fff;
    border: 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    height: 39px;

}

.btn-search{
    background-color: #fff;
    border: 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    height: 39px;
    padding: 0px 10px 0px 10px;
    border-radius: 0px 5px 5px 0px;
}

.buscador-usados{

	background-color: #000000;
	width: 100%;
	padding: 10px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.buscador-usados input{

	width: 100%;
  padding: 14px;
  max-width: 1320px;
  display: flex;
  align-self: center;
  font-size: 16px;
  font-weight: 100;
  border-radius: 5px;
  border: 0;

}
