.item-usado{
    border-radius: 5px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-color: #FFFFFF;
    border: 1px #EFEFEF solid;
    
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
    margin-bottom: 10px;
}


.item-usado-titulo{
    width: 40%;
    margin: 50px;
    position: absolute;
    height: 300px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;

    .item-img-anio{

        img{
            width: 60px;
            height: 60px;
            display: inline-block;
        }

        div{
            display: inline-block;
            color: #FFFFFF;
            padding-left: 10px;
        }
    

    }

    .price{
     display: block;
     font-size: 20px;
     font-weight: bold;
     letter-spacing: 2px;
     margin: 10px 0 10px 0;
    }

    .item-info{
        font-size: 10px;
        
        display: block;
        
        p{
            border-bottom: 1px solid rgba(255,255,255,0.3);
            display: block;
            color: #EFEFEF;
            margin: 0px 0 0 0;
            padding: 5px 0 5px 0
        }
        p:last-child{
            border-bottom: none;
        }
    }

    .btn-mas-info{
        position: absolute;
        bottom: 0px;
        background-color: #F9AE41;
        color: #222;
        font-weight: bolder;
        padding: 10px 30px 10px 30px;
        margin-bottom: 20px;
        border-radius: 5px;


    }

}


@media(max-width:767px) {
    .item-usado{
        height: 320px;
    }

    .item-usado-titulo{
        width: calc(100% - 40px);
        margin: 5px;
        padding: 5px;

    }

}
