
<div class="item-usado" style="background-image: url({{ destacado.vehicle_thumbnail_url | replaceThumbForOriginal : 'original' }});">

    <div class="item-usado-titulo">
        <div class="item-img-anio">
            <img src="/assets/img/decker.png" alt="">
            <div>
                {{destacado.brand_name | uppercase }}<br> {{destacado.vehicle_model}}
            </div>
        </div>
        <div class="price">{{destacado.vehicle_km}}</div>
        <div class="item-info">
            <p>Año: {{destacado.vehicle_year}}</p>
            <p>Km: {{destacado.vehicle_km}}</p>
            <p>Tracción: {{destacado.vehicle_traction}} </p>
        </div>

        
        <a routerLink="/usado/{{destacado.vehicle_id}}" class="btn-mas-info">
            Conocelo
        </a>
        
    </div> 


 </div>