<div class="item-decribe">
    
    <ul class="nav nav-tabs animate fadeInUp" data-wow-delay="0.4s" role="tablist">
      <li role="presentation" class="active"><a>DESCRIPCIÓN</a></li>
    </ul>

    
    <div class="tab-content animate fadeInUp" data-wow-delay="0.4s">
    
      <div role="tabpanel" class="tab-pane fade in active" id="descr">
        <p>{{ descripcion }}</p>
      </div>

    </div>
  </div>
