<section class="sub-bnr" data-stellar-background-ratio="0.5" style="background-position: 0% -69px; background-image: url(assets/img/rutaclub.png);">
  <div class="position-center-center">
    <div class="container">
<!--      <h4>RUTA CLUB</h4>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Data</li>
      </ol>-->
    </div>
  </div>
</section>

<section class="testimonial padding-top-100">
  <div class="container"> 
    
    <!-- Main Heading -->
    <div class="heading text-center">
      <h4>RUTA CLUB</h4>
      <p class="subtitle">El club de beneficios de Ruta Sur Trucks que te da puntos por tus compras <br>y podes canjearlos por descuentos en productos y servicios.</p> 
    </div>
    <div class="knowledge-share">
      
      


    </div>
  </div>
</section>

<section class="testimonial ">
  <div class="container"> 
    
    
    <div class="body-rutaclub padding-bottom-50 ">


      <h4>¿Cómo funciona?</h4>

      <p>El usuario de RUTACLUB, puede consultar los descuentos vigentes en los productos en el sitio web de Mercado Camiones o en nuestras distitas agencias, luego al momento de comprar debe presentar la tarjeta de RUTACLUB y su DOCUMENTO DE IDENTIDAD para su validación. Nosotros aplicaremos el beneficio, descuento o promoción al asociado de RUTACLUB.</p>
     
     <h4>¿Cómo obtengo mi tarjeta?</h4>
     
     <p>La Tarjeta se obtiene solicitandola con la compra de productos en nuestras agencias o con la compra de nuestras unidades o enviando un mail a rutaclub@mecadocamiones.com.ar</p>
     
     <h4> ¿Cuánto sale?</h4>
     
     <p>La Tarjeta de RUTACLUB no tiene costo adicional, es un beneficio incluido para todos nuestros clientes. </p>
       

    </div>


  </div>
</section>




<section class="testimonial padding-top-100 yellow-box">
  <div class="container"> 
    
    <!-- Main Heading -->
    <div class="heading text-center">
      <h4>Consultá tus puntos</h4>
      <span>Ingresá el numero de socio que figura en tu tarjeta para saber cuantos puntos llevas acumulados.</span> 
    </div>
    
    <div align="center">
    <input type="text" class="buscador" [(ngModel)]="idSocio" placeholder="Nº de Socio">
      <button (click)="agregar()">Agregar</button>

      <button (click)="consultar()">Consultar</button>
      <button (click)="consultarId()">Consultar x ID</button>
    </div>  

    <div *ngIf="consultado" >
      <h3>Cantidad de puntos: {{ puntos }}</h3>
    </div> 

      <br>
   
  </div>
</section>