.yellow-box{
    background-color: #F9AE41;
}

.buscador{
    font-size: 30px;
    width: 80%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    border: 0px;
}

.subtitle{
    font-weight: bold;
    color: #2d3a4b;
    font-size: 16px;
    margin: 0px;
    margin-bottom: 20px;
    letter-spacing: 0px;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;

}

.body-rutaclub{
    margin-top:50px;
    margin-bottom:50px;
}

.body-rutaclub h4{
    text-align:center;
    font-size: 16px;
    margin-top:40px;
}

.body-rutaclub p{
    max-width: 80%;
    margin:0% 10% 0% 10%;
    text-align:justify; 
}
