<div *ngIf="filtros.length > 0 ">
Filtros:
<ng-container *ngFor="let filtro of filtros" >

   <div class="option" *ngFor="let combo of filtro.selected" (click)="removeThisFilter(combo, filtro.type)">
      {{ combo.label }} <span class="remove"> x </span>
   </div>

</ng-container>
</div>
