.option{
    background-color: white;
    border: 1px solid #333;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 0 5px 5px 0;
    cursor: pointer;
}

.remove{ font-size: 12px; color: red;}