<section class="sub-bnr" data-stellar-background-ratio="0.5" [ngStyle]="{'background-image': 'url('+mybg+')'}">
  <div class="position-center-center">
    <div class="container">
      <h4>{{titulo}}</h4>
      <p class="parrafo-blanco">{{descripcion}}</p>
    </div>
  </div>
</section>


