.sub-bnr{
    
    background-position: center;
    background-size: cover;
    
    
}

.sub-bnr h4{
    font-size: 30px;
    text-shadow: 0px 5px 20px rgba(0,0,0,0.7);

}

.sub-bnr p{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFf;
    text-shadow: 0px 5px 20px  rgba(0,0,0,0.7);
}
