:host{

  .buy-your-truck{
    display:flex;
    position:relative;
    align-items:center;
    justify-content: center;
  }

  .buy-your-truck img{
    width: 100%;
    height: auto;
  }

  .buy-your-truck a{
    
    display:inline-block;
    position: absolute; 
    margin-top: 21.1%;
    margin-left: 45%;  
    border-radius: 8px;
    background-color: #f3840d;
    color: #FFFFFF;
    font-size: 22px;
    padding: 7px 40px;
    font-weight: 500;

  }

}