.img-home-seguro{
    padding: 20px;
    background-color: #FFFFFF;

    a img{
        border: 1px #EFEFEF solid; 
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
        border-radius: 5px;
    }

}