
<header-breadcump 
titulo='{{oferta?.offer_name}}' 
descripcion="{{oferta?.offer_description}}" 
bg="assets/img/bg0.png">
</header-breadcump>


<section class="shop-page padding-top-50 padding-bottom-50">
    <div class="container">
      <div class="papular-block">
          <list-productos [productos]="productos"></list-productos>
      </div>

  <!--<div #moreElementsDiv class="moreelements text-center">
    <button *ngIf="getMore"  (click)="loadmore()" class="btn">Cargas más</button>
  </div>-->
</div>
