
 <!-- Testimonial -->
 <section class="light-gray-bg padding-top-150 padding-bottom-150">

  <div class="container">

    <!-- Main Heading -->
    <div class="heading text-center">
      <h4>{{titulo}}</h4>
      <span>Encontrá el producto que buscás dentro de estas categorías</span>
    </div>

    <!-- Categories -->
    <div class="papular-block">
      <ul class="row">
         <li class="col-sm-3 col-4 col-md-2" *ngFor="let categoria of categorias">
            <one-categoria [categoria]="categoria"></one-categoria>
         </li>
      </ul>
    </div>
  </div>
</section>
