
<section class="contact padding-top-100 padding-bottom-100">
    <div class="container">


<h1>TÉRMINOS Y CONDICIONES</h1>


<ul>

<li>
<h2>1. Información General</h2>

<p>Estos Términos y Condiciones de pedido (en adelante, los “Términos y Condiciones”) se aplican
     a toda orden de pedido de un cliente (en adelante, el “Cliente”) efectuado a MERCADO CAMIONES (en adelante, “MC”) 
     en el sitio web URL: http://www.mercadocamiones.com.ar/ (en adelante, la “Web Volvo Repuestos”).</p>

<p>Por navegar en la Web Mercado Camiones y/o efectuar una orden de pedido, 
    el Cliente acepta irrevocablemente los Términos y Condiciones.
     Es responsabilidad del Cliente leer y comprender los Términos 
     y Condiciones antes de efectuar una orden de pedido. MC tiene el 
     derecho de realizar cambios a estos Términos y Condiciones de tanto
      en tanto sin necesidad de efectuar una notificación al Cliente. 
      Los Términos y Condiciones son los aplicables a la orden de pedido
       efectuado por el Cliente al momento de realizar el mismo.</p>

<p>Toda disputa respecto de los Términos y Condiciones
     será definida bajo las leyes de la República Argentina 
     y ante los Tribunales de la Ciudad Autónoma de Buenos Aires.</p>


</li>
<li>
<h2>2. Costos y órdenes de pedido</h2>
<p>Los precios de los productos que se encuentran en la Web Mercado Camiones 
    no incluyen ningún impuesto que pudiera ser 
    aplicable (incluyendo, pero no limitando, IVA, a 
    derechos de importación, tasas aduaneras o portuarias, etc.) ni costos de entregas.</p>



</li>
<li>
<h2>3. Entrega.</h2>
<p>Los productos seleccionados deberán ser retirados por la red de Concesionarios RUTA SUR TRUCKS S.A. y
     Talleres Oficiales de RUTASURTRUCKS en la República Argentina o acuerdo de envio con los mismos. 
     Al momento de realizar la orden de pedido, 
     el Cliente deberá seleccionar el punto de retiro de los productos seleccionados.
      El punto de retiro no podrá ser luego modificado por el Cliente. 
      Una vez confirmado el pedido por MC, el mismo deberá ser retirado 
      por el punto de entrega confirmado según la confirmación de la orden 
      de pedido del Cliente. MC realizará sus mayores esfuerzos para que la
       entrega se efectúe dentro de los 5 (cinco) días hábiles de enviada la 
       confirmación de la orden de pedido.</p>


</li>
<li>
<h2>4. Modalidad de pago.</h2>
<p>El pago de los productos se realizará en el momento de retiro de los mismo, 
    en la red de Concesionarios y Talleres Oficiales de RUTA SUR TRUCKS en la República Argentina.</p>

</li>
<li>
<h2>5. Cancelación de órdenes de pedido.</h2>
<p>El Cliente sólo podrá cancelar una orden de pedido, contactándose 
    con el Concesionario o Taller Oficial de RUTA SUR TRUCKS en la República Argentina 
    que fue seleccionado para efectuar el retiro, 
    con el número de orden de pedido. 
    Podrán encontrarse los teléfonos de cada Concesionario y 
    Taller Oficial en la República Argentina en www.rutasurtrucks.com.ar</p>

</li>
<li>
<h2>6. Reproducciones en la Web Mercado Camiones.</h2>
<p>Las imágenes de los productos que se encuentran en la Web Mercado 
    Camiones podrían no representar el producto en detalle.
     MC no se responsabiliza por las potenciales diferencias entre los
      colores mostrados en la Web Mercado Camiones en la computadora 
      del Cliente y los reales colores del producto.</p>

</li>
<li>
<h2>7. Responsabilidad.</h2>
<p>MC bajo ninguna circunstancia será responsable con respecto al Cliente o a 
    cualquier tercero por daños directos, indirectos o pérdidas, pudieran 
    o no haberse previsto, o por pérdidas de ganancias, pérdidas de ahorros
     o consecuentes daños derivados del uso del producto por el Cliente o por
      la inhabilidad del Cliente para usar el producto o causados por un incumplimiento 
      de cualquier contrato por parte del Cliente, aun cuando MC pudiera haber sido 
      informada del riesgo de daños o pérdidas de este tipo.</p>

</li>
<li>
<h2>8. Propiedad intelectual</h2>
<p>Todo el contenido de la Web Mercado Camiones, incluyendo todas las marcas,
     derechos de autor y los derechos de propiedad intelectual relativas a los productos,
      pertenece a Volvo Trademark Holding AB, AB Volvo, una subsidiaria de AB Volvo o un proveedor de MC.
       En consecuencia, el contenido está protegido por la legislación aplicable en la materia.
        Esto significa que marcas, nombres de empresas, nombres de productos e información acerca de productos, 
        tales como descripciones de mercancías, pesos, ilustraciones, cuadros, gráficos, diseños, diseño
         y otros contenidos de estas páginas, no pueden bajo ninguna circunstancia ser descargados, 
         copiados o utilizados sin el consentimiento escrito explícito de MC.</p>

<p>El Cliente acepta abstenerse de: (i) compartir nombres de usuarios, 
    contraseñas u otra información de acceso que permita el ingreso a las porciones protegidas 
    de la Web Mercado Camiones por parte de un tercero no autorizado; (ii) publicar, distribuir 
    o transmitir publicidad o materiales promocionales no autorizados, correos en cadena, correo 
    no deseado o cualquier otro tipo de correo electrónico masivo no solicitado, a individuos o 
    entidades que no han convenido formar parte de dicha correspondencia; (iii) omitir, eliminar, 
    falsificar o falsear información sobre transmisiones, incluyendo encabezados, correo devuelto 
    y direcciones de protocolo de Internet, o bien, de cualquier otra forma manipular los identificadores
     para ocultar el origen de cualquier contenido; (iv) hacerse pasar por cualquier individuo o entidad,
      o bien, declarar falsamente o de cualquier otra forma falsear una afiliación con cualquier individuo 
      o entidad, u omitir, eliminar, falsificar o falsear intencionalmente, información sobre transmisiones,
       incluyendo encabezados, correo devuelto y direcciones de protocolo de Internet, o bien, de cualquier 
       otra forma manipular los identificadores para ocultar el origen de cualquier contenido transmitido a 
       o por medio de la Web Mercado Camiones; y (v) distribuir o transmitir cualquier contenido sin derecho 
       a hacerlo; (vi) enviar mensajes de acoso y/o de amenaza a otros.</p>

</li>
<li>
<h2>9. Comportamiento Ilegal</h2>
<p>El Cliente acepta no: (i) utilizar la Web Mercado Camiones para cualquier fin ilícito, 
    en violación a las leyes y regulaciones aplicables; (ii) publicar páginas web que contengan vínculos 
    que inicien descargas de material en franca infracción de propiedad intelectual o que sea ilícito; (iii) 
    acosar u hostigar de manera electrónica a otra persona; (iv) participar en cualquier actividad de Internet
     que viole los derechos de privacidad de otras personas, incluyendo sin limitación, recabar y distribuir 
     información sobre usuarios de Internet sin su autorización, con excepción de lo que permita la ley, o (v)
      realizar rifas, sorteos o concursos por Internet que violen las leyes aplicables.</p>

</li>
<li>
<h2>10. Declaración de Limitación de Responsabilidad</h2>
<p>El Cliente acepta expresamente que el uso de la Web Mercado Camiones es bajo propio riesgo. 
    MC no garantiza que el uso de la Web Mercado Camiones será sin interrupciones o estará libre de errores.
    MC tiene el derecho de modificar, eliminar y/o dejar sin efecto en cualquier momento cualquier ofrecimiento
     de productos de la Web Mercado Camiones a su exclusiva discreción. MC no garantiza la certeza, integridad 
     o la exhaustividad del contenido presentado en la Web Mercado Camiones o de los productos allí ofrecidos. 
     MC no es responsable bajo circunstancia alguna de los daños y perjuicios directos, indirectos, incidentales, 
     especiales o consecuenciales, causados por el uso o inhabilidad para usar la Web Mercado Camiones, incluyendo 
     sin limitación, que el Cliente se apoye en cualquier información obtenida de la Web Mercado Camiones que resulten 
     ser errores, omisiones, interrupciones, supresiones o corrupción de archivos, virus, retraso de operaciones o 
     transmisiones, o bien, cualquier incumplimiento. La anterior limitación de responsabilidad aplicará en caso de 
     ejercicio de acciones derivadas del Contrato, por negligencia u otra responsabilidad, incluso cuando un 
     representante autorizado de MC ha sido asesorado respecto a o debiera tener conocimiento sobre la posibilidad 
     de dichos daños y perjuicios.</p>
    </li>
</ul>


    </div></section>