.logos{

background-color:#f6f6f6;
text-align: center;
padding: 10px;
margin-bottom: 70px;
box-shadow: 0px 22px 27px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 0px 22px 27px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 22px 27px -6px rgba(0,0,0,0.4);

}
