
<img src="assets/images/vende.png" width="100%" alt="">



<h2>
  Completá tus datos para que podamos enviarte la oferta:
</h2>



<section class="chart-page  padding-bottom-20">
  <form [formGroup]="myForm" (ngSubmit)="enviarCamion()">
    <div class="container">
      <!-- Payments Steps -->
      <div class="shopping-cart">

        <div class="cart-ship-info">
          <div class="">
            <!-- ESTIMATE SHIPPING & TAX -->
            <div class="">
              <h6>Tus datos de contacto</h6>
                <ul class="row">
                  <!-- formControlName -->
                  <li class="col-md-4">
                    <label>
                      <input  type="text" formControlName="nombre" id="nombre" value="" placeholder="Nombre completo * "  >
                    </label>
                  </li>
                  <li class="col-md-4">
                    <!-- ADDRESS -->
                    <label>
                      <input  type="text" formControlName="email" id="email" value="" placeholder="Email * "  >
                    </label>
                  </li>

                  <!-- PHONE -->
                  <li class="col-md-4">
                    <label>
                      <input  type="text" formControlName="telefono" id="telefono" value="" placeholder="Teléfono * "  >
                    </label>
                  </li>
                </ul>

                <h6>Tu usado</h6>

                <ul class="row">
                  <!-- formControlName -->
                  <li class="col-md-4">
                    <label>
                      <input type="text" formControlName="marca" id="marca" value="" placeholder="Marca y modelo * "  >
                    </label>
                  </li>
                  <li class="col-md-4">
                    <!-- ADDRESS -->
                    <label>
                      <input  type="text" formControlName="anio" id="anio" value="" placeholder="Año * "  >
                    </label>
                  </li>

                  <!-- PHONE -->
                  <li class="col-md-4">
                    <label>
                      <input  type="text" formControlName="kilometros" id="kilometros" value="" placeholder="Kilómetros"  >
                    </label>
                  </li>
                  <li class="col-md-12">
                    <label>
                      <input  type="text" formControlName="observaciones" id="observaciones" value="" placeholder="Observaciones"  >
                    </label>
                  </li>

                </ul>


            </div>
          </div>
        </div>

        <!-- SHOPPING INFORMATION -->
        <div class="cart-ship-info">
          <div class="row">

            <div class="col-md-1"></div>
            <div class="col-md-3">

              <h3>No es obligatorio,
                pero tener las fotos
                de tu unidad
                nos ayuda a tener
                mayor detalle
                </h3>
                <h4 >Clickeá en cada campo y envianos la foto sugerida.</h4>

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">

              <div class="camiones">
                <div class="col">
                  <div>
                    <img src="assets/images/lado2.png"  alt="">
                    <label class="custom-file-upload" for="foto2" [ngClass]="foto2 ? 'selected' : '' ">
                      <input type="file" id="foto2" aria-label="2" formControlName="foto2" (change)="onFileChange($event)" />
                      LATERAL IZQ <span>Subir</span>
                    </label>
                  </div>
                  <div>
                    <img src="assets/images/lado3.png"  alt="" >
                    <label class="custom-file-upload" for="foto3" [ngClass]="foto3 ? 'selected' : '' ">
                      <input type="file" id="foto3" aria-label="3" formControlName="foto3" (change)="onFileChange($event)" />
                      FRENTE <span>Subir</span>
                    </label>

                  </div>
                </div>
                <div class="col">
                  <div>
                    <img src="assets/images/lado1.png"  alt="">
                    <label class="custom-file-upload" for="foto1" [ngClass]="foto1 ? 'selected' : '' ">
                      <input type="file" id="foto1" aria-label="1" formControlName="foto1" (change)="onFileChange($event)" />
                      LATERAL DER <span>Subir</span>
                    </label>
                  </div>
                  <div>
                    <img src="assets/images/lado4.png"  alt="">
                    <label class="custom-file-upload" for="foto4" [ngClass]="foto4 ? 'selected' : '' ">
                      <input type="file" id="foto4" aria-label="4" formControlName="foto4"  (change)="onFileChange($event)" />
                      ATRÁS <span>Subir</span>
                    </label>
                  </div>
                </div>

              </div>


            </div>
            <div class="col-md-1"></div>


          </div>
        </div>





      </div>
    </div>
    <div class="container padding-top-50 padding-bottom-50">
      <div class="text-right">

        <button type="submit" [disabled]="!status()" class="btn btn-primary">Enviar</button>
        <p *ngIf="!status()">Complete los campos requeridos</p>
      </div>
    </div>
  </form>
</section>
