.cart-ship-info{




  ul.row{
    margin-bottom: 50px;
  }
}

.camiones{


display: flex;
flex-direction: column;
width: 100%;


  .col{
    display: flex;

    .custom-file-upload{

      background-color: #d4d3d3;
      padding: 12px;
      border-radius: 15px;

      margin: 10px 5px;
      width: auto;

      span{
        background-color: #fa8303;
        color: #FFFFFF;
        padding: 10px;
        border-radius: 10px;

      }



    }
    .selected{
      background-color: #3dd596;
    }

    img{
      height: 120px;
    }

    div:first-child{
      text-align: center;
      width: 70%;
    }
    div:last-child{
      text-align: center;
      width: 30%;
    }


  }


  input[type="file"] {
    display: none;
  }

}

h2{
  text-align: center;
  color: #fa8303;
  margin: 30px 0;
}

h3{
  color: #fa8303;
}

h4{
  color: #6788a2;
  font-size: 18px;
}

.btn-primary{
  background-color: #fa8303;
  color: #FFFFFF;
  border-radius: 10px;
}
