<!--The content below is only a placeholder and can be replaced.-->

<!-- LOADER -->
<!--<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>
-->
<!-- Wrap -->
<div id="wrap">
<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>

</div>
<script src="./assets/js/jquery-1.11.3.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/own-menu.js"></script>
<script src="./assets/js/jquery.lighter.js"></script>
<script src="./assets/js/owl.carousel.min.js"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="./assets/rs-plugin/js/jquery.tp.t.min.js"></script>
<script type="text/javascript" src="./assets/rs-plugin/js/jquery.tp.min.js"></script>
<script src="./assets/js/main.js"></script>
<script src="./assets/js/main.js"></script>
