.home-slider {
	position: relative;
}

.slide a{
	
	position: absolute;
	top: 54%;
	left: 14%;
	z-index: 100;

	display: inline-block;
    border-radius: 8px;
    background-color: #f3840d;
    color: #FFFFFF;
    font-size: 20px;
    padding: 14px 80px;
	font-weight: 500;
	margin: 0px;
}