<!--<section class="home-slider">
  <div class="tp-banner-container">
    <div class="tp-banner">
      <ul>
        <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <img src="./assets/images/slide-bg-1.jpg" width="100%"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
        </li>
      </ul>
    </div>
  </div>
</section>-->

<owl-carousel-o [options]="customOptions">

  <ng-template carouselSlide>
      <div class="slide">
        <img src="./assets/images/header1.png">
        <a routerLink="/comprar">Comprá un camión</a>
      </div>
  </ng-template>

</owl-carousel-o>
