<section class="news-letter padding-top-150 padding-bottom-150">
  <div class="container">

    <div class="header-text">
      <h4>Brindamos financiamiento <br>
      a <span>máxima velocidad</span>
    </h4>
    <p>Tenemos propuestas excelentes para todos los clientes.</p>
    </div>

      <form #signupForm="ngForm" ngNativeValidate (ngSubmit)="suscripcion(signupForm)">
        <div *ngIf=" ! enviado " class="inputs" >
          <input ngModel required type="text" name="contact_email" placeholder="Nombre" >
          <input ngModel required type="email" name="contact_email" placeholder="Correo electrónico" >
          <button type="submit">Obtener financiamiento</button>
        </div>
      </form>

      <p class="lema">Garantizamos 100% su privacidad. Su información no será compartida.</p>
      <div *ngIf=" enviado " >
        <div class="alert alert-success">Tus datos han sido enviados correctamente. Muchas gracias por inscribirte.</div>
      </div>

  </div>

</section>
