:host {.news-letter{

  background-color: #000206;
}

.header-text{
  display: block;
  text-align: center;
  p{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    color: #FFF;
  }

}

.header-text h4{
  font-size: 55px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif !important;
  text-transform: none !important;
  color: #FFF;
  span{
    color: #f3840d;
  }

}

.news-letter form {
	max-width: 770px;
	margin: 0 auto;
}

.inputs{
  display: flex;
  justify-content: space-between;

}

.lema{
  margin: 20px;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  color: #a6a6a6;
}
.news-letter form input {
	height: 53px;
	width: 35%;
	padding: 0 20px;
	display: inline;
	font-size: 12px;
	float: left;
  background-color: #a6a6a6;
  border: 0px;
  color: #FFF !important;
}
.news-letter form button {
	height: 53px;
	float: right;
	border: 0px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	background: none;
	width: 25%;
  background-color: #f3840d;
}
.news-letter form button:hover {
	background: #fff;
	color: #131920;
}
.news-letter.style-2 {
	background: #5b53a6;
}
.news-letter.style-2 .heading span {
	color: #fff;
}
.news-letter.style-2 form input {
	border-radius: 50px;
	border: none;
}
.news-letter.style-2 form button {
	border-radius: 50px;
}
}
