<div class="images-slider">

  <div class="slider-thumb">
    <ol id="listImag" class="flex-control-thumbs">
      <li *ngFor="let imagen of imagenes;let i = index" class="">
        <img [ngClass]="{'flex-active': this.indice==i}"  (click)="setThisFocus(i)" src="{{ imagen.image_url }}" draggable="false">
      </li>
    </ol>
  </div>

  <div class="flecha-prev" (click)="changePrevFocus()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </div>

  <div class="slider-container">
    <div class="slides">
      <div class="flex-active-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 1;"> <img class="img-responsive" src="{{imagenes[this.indice].image_url}}" alt="" draggable="false" width="100%" > </div>
    </div>
  </div>

  <div class="flecha-next" (click)="changeNextFocus()">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </div>





</div>
