.images-slider{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0;
    padding: 0;
    max-height: 450px;
    overflow: hidden;




  .slider-thumb{
    width: 100px;
    margin-right: 10px;

    .flex-control-thumbs{

      height: 100%;
      padding: 0px;
      justify-content: flex-start;

      li{
        width: 100%;
        padding: 0px;
        margin-bottom: 10px;
      }

    }

  }

  .flecha-prev,   .flecha-next{
    background-color: #CCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    padding: 10px;
  }



  .slider-container{
    width: 100%;
    background-color: #CCC;
      .slides{
        height: 600px;
        max-height: 600px;
        overflow: hidden;
      }

  }

    .flex-control-nav .col-6{
        margin: 0px;
        padding: 0px;
    }
    .flex-control-nav .col-6:first-child{
        padding-right: 2px;
    }
    .flex-control-nav .col-6:last-child{
        padding-left: 2px;
    }
    .btn-outline{
        width: 100%;
        color: #666;
        border: #EFEFEF 1px solid;
        padding: 0px;
        margin: 0;
    }
    .btn-outline:hover{
        color: #FFF;
        border: #333 1px solid;
        background-color: #666;

    }
}



@media (max-width: 600px) {

  .images-slider{
    max-height: auto;
    margin-bottom: 30px;
    margin: 15px;
    width: auto;



  .slider-container{
  .slides{
    height: 280px;
    max-height: 280px;
    overflow: hidden;
  }

  .flex-control-nav{
    margin: 0;
    padding: 0;
  }

}

  .slider-thumb{
    display: none;
  }
}

}
