.item-name p{
    font-size: 18px;
}

.sub-bnr{background-position: bottom;}


.btn-load-more{
  background-color:#000;
  color: #FFF;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 30px;
  border: 0px;
}





.showhidefilter{
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.moreelements{
  background-color: #EFEFEF;
}
