<h1>TENEMOS LOS MEJORES PRECIOS DEL MERCADO</h1>



<div class="container">

  <div class="row mejores">

    <div class="col-md-3 col-sm-6 col-6">
      <div class="card">
        <img src="./assets/images/valores2.png" alt="">
        <p>REACONDICIONAMOS<BR>NUESTROS CAMIONES</p>
      </div></div>


      <div class="col-md-3 col-sm-6 col-6">
      <div class="card">
        <img src="./assets/images/valores1.png" alt="">
        <p>SOMOS CONFIABLES<BR>LO QUE DECIMOS<BR>LO HACEMOS</p>
      </div></div>

      <div class="col-md-3 col-sm-6 col-6">
      <div class="card">
        <img src="./assets/images/valores3.png" alt="">
        <p>SOMOS CONFIABLES<BR>LO QUE DECIMOS<BR>LO HACEMOS</p>
      </div></div>

      <div class="col-md-3 col-sm-6 col-6">
      <div class="card">
        <img src="./assets/images/valores4.png" alt="">
        <p>SOMOS CONFIABLES<BR>LO QUE DECIMOS<BR>LO HACEMOS</p>
      </div></div>



    </div>
  </div>




<div class="button-yellow">

  <a routerLink="/comprar">Comprá un camión</a>

</div>


