:host{

  background-color: #FFFFFF;
  margin-bottom: 40px;

  h1{
    text-align: center;
    margin-bottom: 40px;
  }


  .mejores{



    .card{

      border: 0px;


      p{ font-weight: bold; font-size: 18px; text-align: center; color: black;}
    }
  }

  .button-yellow{
    margin: 30px;
    text-align: center;

    a{
      display: inline-block;
      border-radius: 8px;
      background-color: #f3840d;
      color: #FFFFFF;
      font-size: 18px;
      padding: 10px 35px;
      font-weight: 500;
    }

  }
}
