<header-breadcump
  titulo='Fianciamiento Exclusivo'
  descripcion="Brindamos finacionamiento a máxima velocidad"
  bg="assets/img/bg3.png">
</header-breadcump>


<section class="contact padding-top-100 padding-bottom-100">
  <div class="container">
    <div class="contact-form">
      <h5>Complete el formulario</h5>
      <div class="row">
        <div class="col-md-8">

          <!--======= Success Msg =========-->
          <div *ngIf=" enviado " >
            <div id="contact_message" class="success-msg"> <i class="fa fa-paper-plane-o"></i>Gracias por confiar en nosotros. Su mensaje ha sido enviado correctamente.</div>
          </div>
          <!--======= FORM  =========-->
          <form #signupForm="ngForm" ngNativeValidate (ngSubmit)="contacto(signupForm)">
            <div  *ngIf=" ! enviado " >
              <ul class="row">
                <li class="col-sm-6">
                  <label>Nombre Completo
                    <input type="hidden" ngModel name="contact_type" id="contact_type"  value="Contacto">
                    <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_name' type="text" class="form-control" ngModel required name="contact_name" id="contact_name" placeholder="">
                    <input *ngIf="!infoClient" type="text" class="form-control" ngModel required name="contact_name" id="contact_name" placeholder="">
                  </label>
                </li>
                <li class="col-sm-6">
                  <label>Email
                    <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_email' type="text" class="form-control" ngModel name="contact_email" id="contact_email" placeholder="">
                    <input *ngIf="!infoClient" type="text" class="form-control" ngModel name="contact_email" id="contact_email" placeholder="">
                  </label>
                </li>
                <li class="col-sm-6">
                  <label>Teléfono
                    <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_phone' type="text" class="form-control" ngModel required name="contact_phone" id="contact_phone" placeholder="">
                    <input *ngIf="!infoClient" type="text" class="form-control" ngModel required name="contact_phone" id="contact_phone" placeholder="">
                  </label>
                </li>
                <li class="col-sm-6">
                  <label>Ciudad
                    <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_city' type="text" class="form-control" ngModel name="contact_city" id="contact_city" placeholder="">
                    <input *ngIf="!infoClient" type="text" class="form-control" ngModel name="contact_city" id="contact_city" placeholder="">
                  </label>
                </li>
                <li class="col-sm-12">
                  <label>Mensaje
                    <textarea class="form-control" name="contact_msj" ngModel required id="contact_msj" rows="5" placeholder=""></textarea>
                  </label>
                </li>
                <li class="col-sm-12">
                  <button type="submit" value="Enviar Email" class="btn" id="btn_submit">ENVIAR EMAIL</button>
                </li>
              </ul>
            </div>
          </form>
        </div>

        <!--======= ADDRESS INFO  =========-->
        <div class="col-md-4">
          <div class="contact-info">
            <h6>NUESTRA DIRECCIÓN</h6>
            <ul>
              <li> <i class="icon-map-pin"></i> Camino Parque Sesquicentenario<br> RN3 Km 696<br>
                B8000 Bahía Blanca, <br>Buenos Aires - Argentina</li>
              <li> <i class="icon-call-end"></i> 0291 454-7043</li>
              <li> <i class="icon-envelope"></i> <a href="mailto:info@mercadocamiones.com.ar" target="_top">info@mercadocamiones.com.ar</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
