  <header-breadcump
titulo='Servicios'
descripcion="Agendá con nosotros tu próximo servicio preventivo."
bg="bg1.png">
</header-breadcump>

<div id="content">

<section class="chart-page padding-top-20 padding-bottom-20">
    <form #signupForm="ngForm" ngNativeValidate (ngSubmit)="contacto(signupForm)">
      <div *ngIf=" ! enviado " >

      <div class="container">
        <!-- Payments Steps -->
        <div class="shopping-cart">

          <div class="cart-ship-info">
            <div class="">
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="">
                <h6>DATOS DEL CONTACTO</h6>
                  <ul class="row">
                    <!-- Name -->
                    <li class="col-md-6">
                      <label> *NOMBRE Y APELLIDO
                        <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_name' ngModel required type="text" name="service_name" value="" placeholder="">
                        <input *ngIf="!infoClient" ngModel required type="text" name="service_name" value="" placeholder="">
                      </label>
                    </li>
                    <li class="col-md-6">
                      <!-- ADDRESS -->
                      <label>*CIUDAD
                        <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_city' ngModel type="text" name="service_city" value="" placeholder="">
                        <input *ngIf="!infoClient" ngModel type="text" name="service_city" value="" placeholder="">
                      </label>
                    </li>

                    <!-- PHONE -->
                    <li class="col-md-6">
                      <label> *TELEFONO
                        <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_phone' ngModel required type="text" name="service_phone" value="" placeholder="">
                        <input *ngIf="!infoClient" ngModel required type="text" name="service_phone" value="" placeholder="">
                      </label>
                    </li>

                    <!-- EMAIL ADDRESS -->
                    <li class="col-md-6">
                      <label> DIRECCIÓN DE EMAIL
                        <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_email' ngModel type="text" name="service_email" value="" placeholder="">
                        <input *ngIf="!infoClient" ngModel type="text" name="service_email" value="" placeholder="">
                      </label>
                    </li>
                  </ul>
              </div>
            </div>
          </div>


          <div class="cart-ship-info">
            <div class="">
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="">
                <h6>DATOS DEL VEHÍCULO</h6>
                  <ul class="row">
                    <!-- Name -->
                    <li class="col-md-6">
                      <label> *CHASIS
                        <input ngModel type="text" name="service_chassis" value="" placeholder="">
                      </label>
                    </li>
                    <li class="col-md-6">
                      <!-- ADDRESS -->
                      <label>*PATENTE
                        <input ngModel required type="text" name="service_patent" value="" placeholder="">
                      </label>
                    </li>

                    <!-- PHONE -->
                    <li class="col-md-6">
                      <label> *KILOMETROS
                        <input ngModel type="text" name="service_km" value="" placeholder="">
                      </label>
                    </li>

                    <!-- EMAIL ADDRESS -->
                    <li class="col-md-6">
                      <label> EMPRESA
                        <input ngModel type="text" name="service_business" value="" placeholder="">
                      </label>
                    </li>
                  </ul>
              </div>
            </div>
          </div>

          <div class="cart-ship-info">
            <div class="">
              <div class="">
                <h6>TIPO DE SERVICIO</h6>
                <ul class="row">
                    <li class="col-md-12">
                    <label> TIPO DE SERVICIO
                        <input ngModel required type="text" name="service_service" value="" placeholder="">
                    </label>
                    </li>
                    <li class="col-sm-12">
                        <label>DESCRIBA EL SERVICIO REQUERIDO
                        <textarea class="form-control" name="service_description" ngModel required id="descripcion" rows="5" placeholder=""></textarea>
                        </label>
                    </li>
                </ul>
            </div>
        </div></div>


        </div>
      </div>
      <div class="container padding-top-50 padding-bottom-50">
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Finalizar</button>
        </div>
      </div>
      </div>
    </form>
    <div *ngIf=" enviado " class="margin-top-50" >

      <div id="contact_message" class="success-msg"> <i class="fa fa-paper-plane-o"></i>Gracias por confiar en nosotros. Su mensaje ha sido enviado correctamente.</div>

  </div>
  </section>
  </div>
