
<section class="padding-top-50 padding-bottom-50">

  <div class="container-fluid">
    <div class="shop-detail">
        <div class="row">
          
          <div class="col-md-8 col-sm-12">
            <app-galery [imagenes]="imagenes"></app-galery>
          </div>


          <div class="col-md-4  col-sm-12 ">
            <h4>{{producto?.replacement_name}}</h4>
              <p class="anio">{{producto?.brand_name}}</p>

            <div class="price"><span>Precio:</span> ${{getOldPrice()}}.-</div>

            <div class="text-left">
                <ul>
                  <li class="col-12">Cantidad:
                    <select [(ngModel)]="cantSelected" class="myselect">
                      <option *ngFor="let c of [1,2,3,4,5,6,7,8,9,10]" [ngValue]="c">{{c}}</option>
                    </select>
                  </li>
                  <li class="col-12 mt-5">

                    <button type="button" (click)="sendToWhat()" class="btn-whatsapp">
                      Comprar por WhatsApp
                    </button>
                    
                    <!--<button type="button" (click)="addToCart()" class="btn-black">Agregar al carrito</button> 

                  </li>
                  <li class="col-12"><a href="/carrito" class="">Ir al carrito</a> -->  </li>
                </ul>
              </div>

              <div *ngIf="showMessage" id="contact_message" class="alert alert-success"> <i class="fa fa-paper-plane-o"></i> Producto agregado al carrito.</div>

            </div>
          </div>
        </div>
      </div>
  </section>



<section class="caracteristicas">

  <div class="container-fluid">
      <h3>Características</h3>

    <h4>General</h4>
    <div class="row">
      <div class="col-md-12 col-sm-12" >
        <p class="info"><span>Descripcion:</span><span>{{ producto?.replacement_description }}</span></p>


        <p class="info"><span>Modelo</span><span>{{ producto.replacement_model}}</span></p>
        <p class="info"><span>Código:</span><span>{{ producto?.replacement_part_number}}</span></p>
        <p class="info"><span>Altura:</span><span>{{ producto?.replacement_height}}</span></p>
        <p class="info"><span>Ancho:</span><span>{{ producto?.replacement_width}}</span></p>
        <p class="info"><span>Profundidad:</span><span>{{ producto?.replacement_depth}}</span></p>
        <p class="info"><span>Diámetro:</span><span>{{ producto?.replacement_diameter}}</span></p>
        <p class="info"><span>Color:</span><span>{{ producto?.replacement_color}}</span></p>


      </div>
    </div>



  </div>



</section>


  <!--<section *ngIf="producto?.replacement_stock == 0" class="contact padding-top-100 padding-bottom-100">
    <div class="container">
      <div class="contact-form">
        <div class="row">
          <h3>No contamos con stock online de este producto por el momento</h3>
          <h5>Dejanos tus datos y nos contactaremos en breve para informarte sobre la disponibilidad de este producto en alguna de nuestras agencias</h5>
          <p>Pieza: {{producto?.replacement_code}} - {{producto?.replacement_name}} </p>
        </div>
        <div class="row">
          <div class="col-md-8">

            <div *ngIf=" enviado " >
              <div id="contact_message" class="success-msg"> <i class="fa fa-paper-plane-o"></i>Gracias por confiar en nosotros. Su mensaje ha sido enviado correctamente.</div>
            </div>

            <form #signupForm="ngForm" ngNativeValidate (ngSubmit)="contacto(signupForm)">
              <div  *ngIf=" ! enviado " >
                <ul class="row">
                  <li class="col-sm-6">
                    <label>Nombre Completo
                      <input type="hidden" ngModel name="contact_type" id="contact_type"  value="Contacto">
                      <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_name' type="text" class="form-control" ngModel required name="contact_name" id="contact_name" placeholder="">
                      <input *ngIf="!infoClient" type="text" class="form-control" ngModel required name="contact_name" id="contact_name" placeholder="">
                    </label>
                  </li>
                  <li class="col-sm-6">
                    <label>Email
                      <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_email' type="text" class="form-control" ngModel name="contact_email" id="contact_email" placeholder="">
                      <input *ngIf="!infoClient" type="text" class="form-control" ngModel name="contact_email" id="contact_email" placeholder="">
                    </label>
                  </li>
                  <li class="col-sm-6">
                    <label>Teléfono
                      <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_phone' type="text" class="form-control" ngModel required name="contact_phone" id="contact_phone" placeholder="">
                      <input *ngIf="!infoClient" type="text" class="form-control" ngModel required name="contact_phone" id="contact_phone" placeholder="">
                    </label>
                  </li>
                  <li class="col-sm-6">
                    <label>Ciudad
                      <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_city' type="text" class="form-control" ngModel name="contact_city" id="contact_city" placeholder="">
                      <input *ngIf="!infoClient" type="text" class="form-control" ngModel name="contact_city" id="contact_city" placeholder="">
                    </label>
                  </li>

                  <input type="hidden" class="form-control" name="contact_msj" ngModel  id="contact_msj"  placeholder="">

                  <li class="col-sm-12">
                    <button type="submit" value="Enviar Email" class="btn" id="btn_submit">ENVIAR EMAIL</button>
                  </li>
                </ul>
              </div>
            </form>
          </div>


          <div class="col-md-4">
            <div class="contact-info">
              <h6>NUESTRA DIRECCIÓN</h6>
              <ul>
                <li> <i class="icon-map-pin"></i> Camino Parque Sesquicentenario<br> RN3 Km 696<br>
                  B8000 Bahía Blanca, <br>Buenos Aires - Argentina</li>
                <li> <i class="icon-call-end"></i> 0291 454-7043</li>
                <li> <i class="icon-envelope"></i> <a href="mailto:info@mercadocamiones.com.ar" target="_top">info@mercadocamiones.com.ar</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->

 <!-- <list-oferta [ofertas]="ofertas"></list-oferta>-->
