:host{

  h4{
    font-size: 1.75rem;

    font-weight: 800; font-family: 'Open Sans', sans-serif;
  }

  .sub-bnr{
      background-image: url('/assets/img/bg2.png');
  }

  #btn_submit{
      padding: 5px;
      width: 100%;
  }


  h5{
      margin-bottom: 10px;
      font-weight: 800; font-family: 'Open Sans', sans-serif;
  }

  h6{
      font-size: 14px;
      letter-spacing: normal;
      text-transform: none;
      font-weight: 800; font-family: 'Open Sans', sans-serif;

  }


  .btn-black{
    background-color:#f3840d;
    color: #FFF;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 30px;
    border: 0px;
    width: 80%;
  }

  .btn-whatsapp{
    background-color:#25D366;
    color: #FFF;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 30px;
    border: 0px;
    width: 80%;
  }

  

  .anio{margin: 0; font-weight: 500; font-size: 16px; color: #000;  }

  .price{
    text-align: left; font-weight: 800; font-family: 'Open Sans', sans-serif; font-size: 30px; margin-bottom: 30px;
    margin-top: 0;
    color: #f3840d;

    span{
      font-size: 14px;
      color:#000206;
      font-weight: normal;
    }
  }

  .caracteristicas{

    margin: 30px 0;

    h3{ text-align: center; font-weight: 800; font-family: 'Open Sans', sans-serif; font-size: 45px; margin-bottom: 30px;}



    h4{ margin-top: 20px; text-align: left; font-weight: 800; font-family: 'Open Sans', sans-serif; font-size: 25px;}

    .info{
      display: flex;
      justify-content: space-between;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      font-size: 17px;
      color: #000206;
      border-bottom: 1.5px solid #000206;

      span:first-child{ width: 50%; text-align: left;}
      span:last-child{ width: 50%; text-align: right;}
    }

  }

}
