
<ng-container *ngIf=" cargados == 6">
<filtro-select [datos]="categorias" [label]="'Categorias'" [type]="'type'" ></filtro-select>
<filtro-select [datos]="marcas" [label]="'Marcas'" [type]="'brand'" ></filtro-select>
<filtro-select [datos]="anios" [label]="'Año'" [type]="'year'" ></filtro-select>
<filtro-select [datos]="modelos" [label]="'Modelo'" [type]="'model'" ></filtro-select>
<filtro-select [datos]="colores" [label]="'Colores'" [type]="'color'" ></filtro-select>
<filtro-select [datos]="largo" [label]="'Otras Características'" [type]="'long'" ></filtro-select>
</ng-container>
