:host{
    width: 100%;

    display: inline-block;
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 8px;
    /*box-shadow: 0 1px 5px 0 rgb(70 70 70 / 15%), 0 2px 2px 0 rgb(70 70 70 / 15%), 0 3px 2px -2px rgb(70 70 70 / 15%);*/
    cursor: pointer;

    .img{

      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      overflow: hidden;
      background-color: #f5f5f5;
      width: 100%;
      height: 190px;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        width: 100%;
        height: auto;
      }

  }




  .item{
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.3), 15px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.3), 15px 5px 15px 5px rgba(0,0,0,0);
    border: 1px  #f5f5f5 solid;
    border-radius: 10px;
    overflow: hidden;

    .descipcion{
      padding: 15px;
      h2{
        font-size: 16px;
        line-height: 20px;
        height: 20px;
        overflow: hidden;
        margin: 0;

      }
      p{
        color: rgb(137, 137, 137);
        font-size: 14px;
        margin: 10px 0;
        line-height: 17px;
        height: 17px;
        font-weight: bold;
        overflow: hidden;
      }
    }

    .price{
        padding: 0 15px 15px 15px;
        color: #f3840d;

        font-size: 20px;
        line-height: 20px;
        font-weight: 800;
        text-align: left;
        margin: 0;
    }

  }
}


:host:hover {
  /*box-shadow: 0 6px 10px 1px rgb(70 70 70 / 15%), 0 4px 5px -2px rgb(70 70 70 / 15%);*/
}
