<div class="item" routerLink="/usado/{{destacado.vehicle_id}}">
    <div class="img">
      <img src="{{ destacado.vehicle_thumbnail_url }}" alt="">
   </div>


    <div class="descipcion">
       <h2>{{ destacado.brand_name}} {{ destacado.vehicle_model}}</h2>
       <p>
          <span>{{destacado.vehicle_year}}</span>
          <span *ngIf=" destacado.vehicle_year &&  destacado.vehicle_km"> - </span>
          <span *ngIf="destacado.vehicle_km">{{destacado.vehicle_km}} km</span>
          <span *ngIf=" (destacado.company_name &&  destacado.vehicle_km) || (destacado.vehicle_year &&  destacado.company_name)  "> - </span>
          <span>{{ destacado.company_name}}</span>
      </p>
    </div>
    <div class="price">

          Ver unidad

     </div>
     <!--<div>
       <img src="./assets/images/fondo-one.png" alt="">
     </div>-->
 </div>


