<div class="item">
   <div class="item-img bgw"> 

<img *ngIf="oferta.offer_image_url != '0' " class="img-1" src="{{oferta.offer_image_url}}" alt="">
<img *ngIf="oferta.offer_image_url != '0' " class="img-2" src="{{oferta.offer_image_url}}" alt="">

<img *ngIf="oferta.offer_image_url == '' " class="img-1" src="./assets/img/oferta.png" alt="">
<img *ngIf="oferta.offer_image_url == '' " class="img-2" src="./assets/img/oferta.png" alt="">

<img *ngIf="oferta.offer_image_url == '0' " class="img-1" src="./assets/img/oferta.png" alt="">
<img *ngIf="oferta.offer_image_url == '0' " class="img-2" src="./assets/img/oferta.png" alt="">


   <div class="overlay">

    <div class="offer">{{oferta.offer_percentage}}%</div>
    
   

      <p class="descripcion-overlay">{{oferta.offer_description}}</p>

      <div class="position-center-center">
         <div class="inn">
            <a  routerLink="/oferta/{{oferta.offer_id}}" data-lighter>
            <i class="icon-magnifier"></i> Ver oferta</a>   
         </div>

       </div>


    </div>

   </div>
    <div class="price">
         <a routerLink="/oferta/{{oferta.offer_id}}" >{{oferta.offer_name}}</a>
     
    </div>
</div>


