:host{

  .repuestos{
    display:flex;
    position:relative;
    align-items:center;
    justify-content: center;
  }

  .repuestos img{
    width: 100%;
    height: auto;
  }

  .repuestos a{
    
    display:inline-block;
    position: absolute; 
    margin-top: 31.7%;
    margin-left: 32%;  
    border-radius: 8px;
    background-color: #f3840d;
    color: #FFFFFF;
    font-size: 22px;
    padding: 5px 50px;
    font-weight: 500;

  }

}
