<section class="sub-bnr" data-stellar-background-ratio="0.5" style="background-position: 0% BOTTOM; background-image: url(assets/img/seguros.jpg);">
  <div class="position-center-center">
    <div class="container">
      <h4>ASEGURÁ CON NOSOTROS</h4>
    </div>
  </div>
</section>

<section class=" padding-top-100">
    <div class="container">

      <div class="contact-form">

        <h2>Cotizamos tu seguro</h2>

        <h6><b>¿Queres tener una referencia, saber si pagas de más o mejorar la poliza de tus seguros? Envianos un mensaje y nuestro asesor se pondrá en contacto con vos.</b></h6>


        <p>Te ofrecemos una cobertura total que garantice el amparo del patrimonio de tu empresa, protegiendo los bienes ante los riesgos que puedan afectarlos.</p>
        <p>Conocemos la necesidad e importancia que implica contar con vehículos seguros para el desarrollo de su actividad. Garantizamos protección total.</p>
        <hr>
        <div class="row" >

          <div class="col-md-8">

            <!--======= Success Msg =========-->
            <div *ngIf=" enviado " >
              <div id="contact_message" class="success-msg"> <i class="fa fa-paper-plane-o"></i>Gracias por confiar en nosotros. Su mensaje ha sido enviado correctamente.</div>
            </div>
            <!--======= FORM  =========-->
            <form #signupForm="ngForm" ngNativeValidate (ngSubmit)="contacto(signupForm)">
              <div *ngIf=" ! enviado ">
              <ul class="row">
                <li class="col-sm-6">
                  <label>Nombre Completo
                    <input type="hidden" ngModel name="contact_type" id="contact_type"  value="Seguro">
                    <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_name' type="text" class="form-control" ngModel required name="contact_name" id="name" placeholder="">
                    <input *ngIf="!infoClient" type="text" class="form-control" ngModel required name="contact_name" id="name" placeholder="">
                  </label>
                </li>
                <li class="col-sm-6">
                  <label>Email
                    <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_email' type="text" class="form-control" ngModel name="contact_email" id="email" placeholder="">
                    <input *ngIf="!infoClient" type="text" class="form-control" ngModel name="contact_email" id="email" placeholder="">
                  </label>
                </li>
                <li class="col-sm-6">
                  <label>Teléfono
                    <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_phone' type="text" class="form-control" ngModel required name="contact_phone" id="telefono" placeholder="">
                    <input *ngIf="!infoClient" type="text" class="form-control" ngModel required name="contact_phone" id="telefono" placeholder="">
                  </label>
                </li>
                <li class="col-sm-6">
                  <label>Ciudad
                    <input *ngIf="infoClient" [(ngModel)]='infoClient.contact_city' type="text" class="form-control" ngModel name="contact_city" id="contact_city" placeholder="">
                    <input *ngIf="!infoClient" type="text" class="form-control" ngModel name="contact_city" id="contact_city" placeholder="">
                  </label>
                </li>
                <li class="col-sm-12">
                  <label>Detalle de la cotización (Marca + Modelo + Año )
                    <textarea class="form-control" name="contact_msj" ngModel required id="contact_msj" rows="5" placeholder=""></textarea>
                  </label>
                </li>
                <li class="col-sm-12">
                  <button type="submit" value="Enviar Email" class="btn" id="btn_submit">ENVIAR EMAIL</button>
                </li>
              </ul>
              </div>
            </form>
          </div>

          <!--======= ADDRESS INFO  =========-->
          <div class="col-md-4">
            <div class="contact-info">
              <h6>NUESTRA DIRECCIÓN</h6>
              <ul>
                <li> <i class="icon-map-pin"></i> Camino Parque Sesquicentenario<br> RN3 Km 696<br>
                  B8000 Bahía Blanca, <br>Buenos Aires - Argentina</li>
                <li> <i class="icon-call-end"></i> 0291 454-7043</li>
                <li> <i class="icon-envelope"></i> <a href="mailto:info@mercadocamiones.com.ar" target="_top">info@mercadocamiones.com.ar</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>



  </section>
