<!--<header-breadcump
titulo="{{ usado?.brand_name }} {{ usado?.vehicle_model }}"
descripcion="Año: {{ usado?.vehicle_year }}"
bg="{{ usado.vehicle_thumbnail_url | replaceThumbForOriginal }}" >
</header-breadcump>-->


<section class="padding-top-50 padding-bottom-50">
    <div class="container-fluid">

      <!-- SHOP DETAIL -->
      <div class="shop-detail">
        <div class="row">

          <!-- Popular Images Slider -->
          <div class="col-lg-8 col-md-8 col-sm-12 ">
            <app-galery [imagenes]="imagenes"></app-galery>
          </div>
          <!-- COntent -->
          <div class="col-md-4  col-sm-12 ">
            <h4>{{ usado?.brand_name }} {{ usado?.vehicle_model }}</h4>
            <p class="anio">{{usado?.vehicle_year}} - {{usado?.vehicle_km}} km</p>
            <div class="price"><span>Precio:</span> ${{usado?.vehicle_km}}.-</div>
            <div class="text-left">
              <!--<button type="button"  routerLink="/contacto/{{usado?.vehicle_id}}" class="btn-black">¡Estoy interesado!</button> -->
              
              <button type="button" (click)="sendToWhat()" class="btn-whatsapp">
                Comprar por WhatsApp
              </button>

            </div>
          </div>
        </div>
      </div>



  </div>
</section>



<section class="caracteristicas">

  <div class="container-fluid">
      <h3>Características</h3>

    <h4>General</h4>
    <div class="row">
      <div class="col-md-4 col-sm-12" >
        <p class="info"><span>Combustible</span><span>{{ usado?.vehicle_fuel}}</span></p>
        <p class="info"><span>Motor</span><span>{{ usado?.vehicle_motor}}</span></p>
        <p class="info"><span>Tracción</span><span>{{ usado?.vehicle_power}}</span></p>

      </div>
      <div class="col-md-4 col-sm-12" >
        <p class="info"><span>Tracción</span><span>{{ usado?.vehicle_traction}}</span></p>
        <p class="info"><span>Dirección</span><span>{{ usado?.vehicle_direction}}</span></p>

      </div>
      <div class="col-md-4 col-sm-12" >
        <p class="info"><span>Agencia</span><span>{{ usado?.company_name}}</span></p>
        <p class="info"><span>Ubicación</span><span>{{ usado?.company_address}}</span></p>


      </div>
    </div>

    <h4>Exterior</h4>
    <div class="row">
      <div class="col-md-4 col-sm-12" >
        <p class="info"><span>Largo</span><span>{{ usado?.vehicle_long}}</span></p>
      </div>
      <div class="col-md-4 col-sm-12" >
        <p class="info"><span>Color</span><span>{{ usado?.vehicle_color}}</span></p>
      </div>
      <div class="col-md-4 col-sm-12" >
        <p class="info"><span>Puertas</span><span>{{ usado?.vehicle_puertas }}</span></p>
      </div>
    </div>

    <h4>Seguridad</h4>
    <div class="row">
      <div class="col-md-4 col-sm-12" >
        <p class="info"><span>Frenos</span><span>{{ usado?.vehicle_brake}}</span></p>
      </div>
      <div class="col-md-4 col-sm-12" >
        <p class="info"><span>Airbag</span><span>{{ usado?.vehicle_airbag }}</span></p>
      </div>
    </div>


    <h4>Equipamiento</h4>
    <div class="row">
      <div class="col-md-12">

          <p class="info"><span>{{ usado?.vehicle_equipment}}</span></p>



      </div>
    </div>

  </div>



</section>


<!--<hr>

<section class="contact padding-top-50 padding-bottom-50">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Consultá por tu financiamiento en 2 minutos</h1>
        <button type="button" routerLink="/financiamiento" class="btn-black">Aplicar a financiamiento</button>
      </div>
      <div class="col-md-6">
        <img src="./assets/images/red.png" width="100%" alt="">
      </div>
    </div>
  </div>
</section>-->

<!--
<list-oferta [ofertas]="ofertas"></list-oferta>
-->
