<app-slider></app-slider>
<home-logos></home-logos>
<div id="content">

  <buy-truck></buy-truck>
  <!--<list-oferta [ofertas]="ofertas"></list-oferta>-->
  <!--<home-seguro></home-seguro>-->
<!--<popular-products></popular-products>-->
  <!--<list-categoria [categorias]="categorias" [titulo]="tituloCategorias"></list-categoria>-->
  <!--<app-frontproducts></app-frontproducts>-->
</div>
<app-repuestos-mujer></app-repuestos-mujer>
<app-buyorsell></app-buyorsell>
<app-sedes></app-sedes>
