  <!-- Knowledge Share -->
  <section class="testimonial padding-top-100 padding-bottom-50">
    <div class="container"> 
      
      <!-- Main Heading -->
      <div class="heading text-center">
        <h4>USADOS DESTACADOS</h4>
        <span>Todas las Marcas y Modelos encontralos en Decker Camiones ¡Contactate Hoy! Los Mejores Planes, Precios y Promociones los encontrás acá. Tenemos El Modelo Que Buscás.
        </span> </div>
      
        

          <div class="row padding-bottom-20">

            <div *ngFor="let d of destacados | slice:0:1;  let i = index " class="col-md-12 col-sm-12 col-xs-12">
              <one-destacado [destacado]="destacados[0]" ></one-destacado>
            </div>

          </div>
        
          <div class="papular-block block-slide">
            <div class="row">
              <div  *ngFor="let d of destacados | slice:1;  let i = index " class="col-md-4 col-sm-4 col-xs-4 col-6">
                <one-destacado-card [destacado]="d" ></one-destacado-card>
              </div>
            </div>
          </div>
          
      
          
    </div>
  </section>