<div class="buscador-usados"><input name="term" placeholder="Buscá por marca, numero de pieza, categoria..." /></div>

<div class="container"> 
  <h2>{{categoria?.type_name}}</h2>

  <div *ngIf="categoria?.hijos">
    <list-categoria [categorias]="categoria?.hijos" [titulo]="tituloSubcat"></list-categoria>
  </div>

  <div class="row shop-page padding-top-50 padding-bottom-50">
      <div class="col-2">
        Categorias
      </div>
      <div class="col-10">
        Resultado: 200
        <div class="papular-block">
          <list-productos [productos]="productos"></list-productos> 
        </div>
      </div>
      
      <div #moreElementsDiv class="col-12 moreelements text-center">
        <button *ngIf="getMore"  (click)="loadmore()" class="btn">Cargas más</button>
      </div>
  </div>
  
</div>

<div *ngIf="!getMore">
  <div class="text-center">
    <h2 >¿No encontras el producto que estas buscando?</h2>
    <h4 >Seguro lo tenemos</h4>
    <p >Dejano un mensaje en el siguiente link con el producto que necesitas y nos comunicaremos cuanto antes.</p>
    <p ><a href="/contacto" class="btn btn-outline">Contacto</a></p>
  </div>
</div>
